html{
  width:100%;
  height:100%;
  background-color:rgb(0,0,0);
}

body{
  width:100%;
  height:100%;
  margin:0px;
}

label{
  display:block;
}

select{
  background-color:rgb(0,0,0);
  color:rgb(220,20,60);
  border:1px solid rgb(220,20,60);
  border-radius:1px;
  cursor:pointer;
  outline: none;
}

/* Chage the scrollbar */
::-webkit-scrollbar {
  background-color:rgb(0,0,0);
  display:inline-block;
  width:2px;
  height:0px;
}

::-webkit-scrollbar-thumb {
  background-color:rgb(220,20,60);
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

#rotationNote{
  display:none;
}

#infoPage{
  width:85%;
  height:100%;
  display:none;
  color:white;
}

.InfoParagraph{
  margin-left:10vw;
  margin-right:10vw;
}

#list{
  margin-left:10vw;
  margin-right:10vw;
}

#mainPage{
  width:100%;
  height:100%;
  display:block;
}

h1{
  width:100%;
  text-align: center;
  margin:0px;
  margin-left:0.1vw;
  margin-top:1vw;
  padding:0px;
  font-size:calc(1.5vw + 1vh);
  color:rgb(220,20,60);
  text-shadow:
    0 0 1px  rgb(220,20,60),
    0 0 2px  rgb(220,20,60);
}

#Canvas{
  width:85%;
  display:inline-block;
}

#Menu{
  position:fixed;
  width:14%;
  height:100%;
  text-align:center;
  display:inline-block;
  color:rgb(220,20,60);
}

#rotationNote{
  width:100%;
  text-align: center;
  margin:0px;
  margin-left:0.1vw;
  margin-top:1vw;
  padding:0px;
  font-size:calc(1.5vw + 1vh);
  color:rgb(220,20,60);
  text-shadow:
    0 0 1px  rgb(220,20,60),
    0 0 2px  rgb(220,20,60);
}

#InfoHeader{
  text-align:center;
  font-size:calc(1.5vw + 1.5vh);
}

.selectDiv{
  width:100%;
  height:10%;
  margin-top:4vh;
  font-size:calc(1vw + 1vh);
}

#selectGammaDiv{
  margin-bottom:4vh;
}

.Button{
  width:100%;
  height:4vh;
  margin:0.2vw;
  margin-top:4vh;
  color:rgb(220,20,60);
  border:none;
  padding:0px;
  cursor:pointer;
  font-size:calc(0.9vw + 0.9vh);
  background: #000;
  text-shadow:
    0 0 0px  rgb(220,20,60),
    0 0 1px  rgb(220,20,60),
    0 0 2px  rgb(220,20,60);

  box-shadow:
    inset 0 0 4px rgb(220,20,60),
    0 0 0px  rgb(220,20,60),
    0 0 1px  rgb(220,20,60),
    0 0 2px  rgb(220,20,60),
    0 0 3px  rgb(220,20,60),
    0 0 5px  rgb(220,20,60);
}

/* Change the button's appearance on click. */
.Button:active{
  box-shadow:
    inset 0 0 4px rgb(220,20,60),
    0 0 0px  rgb(220,20,60),
    0 0 1px  rgb(220,20,60),
    0 0 2px  rgb(220,20,60),
    0 0 3px  rgb(220,20,60),
    0 0 4px  rgb(220,20,60),
    0 0 5px  rgb(220,20,60),
    0 0 6px  rgb(220,20,60),
    0 0 7px  rgb(220,20,60),
    0 0 8px  rgb(220,20,60);
}
